$linkColor						= lightgrey
$linkHoverColor					= lighten(turquoise, 40%)
$linkActiveColor				= $linkColor

$sideBarTextColor				= #ebebeb
$sideBarBackgroundColor			= #242426
$discreteColor					= lighten($sideBarBackgroundColor, 40%)

$smoothEase						= ease-in-out

$quick							= 200ms

$sidebarWidth					= 400px
	$sidebarPadding				= 20px
	$newsHeight					= 220px