.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}
.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
}
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}
.leaflet-container img {
  max-width: none !important;
}
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important;
}
.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}
.leaflet-tile-loaded {
  visibility: inherit;
}
.leaflet-zoom-box {
  width: 0;
  height: 0;
}
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}
.leaflet-tile-pane {
  z-index: 2;
}
.leaflet-objects-pane {
  z-index: 3;
}
.leaflet-overlay-pane {
  z-index: 4;
}
.leaflet-shadow-pane {
  z-index: 5;
}
.leaflet-marker-pane {
  z-index: 6;
}
.leaflet-popup-pane {
  z-index: 7;
}
.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}
.lvml {
  behavior: url("#default#VML");
  display: inline-block;
  position: absolute;
}
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
}
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}
.leaflet-top {
  top: 0;
}
.leaflet-right {
  right: 0;
}
.leaflet-bottom {
  bottom: 0;
}
.leaflet-left {
  left: 0;
}
.leaflet-control {
  float: left;
  clear: both;
}
.leaflet-right .leaflet-control {
  float: right;
}
.leaflet-top .leaflet-control {
  margin-top: 10px;
}
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}
.leaflet-left .leaflet-control {
  margin-left: 10px;
}
.leaflet-right .leaflet-control {
  margin-right: 10px;
}
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -ms-transition: -ms-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}
.leaflet-clickable {
  cursor: pointer;
}
.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}
.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.leaflet-container {
  background: #ddd;
  outline: 0;
}
.leaflet-container a {
  color: #0078a8;
}
.leaflet-container a.leaflet-active {
  outline: 2px solid #ffa500;
}
.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255,255,255,0.5);
}
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.leaflet-bar {
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}
.leaflet-bar a:hover {
  background-color: #f4f4f4;
}
.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px;
}
.leaflet-control-zoom-out {
  font-size: 20px;
}
.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
}
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px;
}
.leaflet-control-layers {
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.leaflet-control-layers-toggle {
/* background-image: url(images/layers.png); */
  width: 36px;
  height: 36px;
}
.leaflet-retina .leaflet-control-layers-toggle {
/*background-image: url(images/layers-2x.png);*/
  -webkit-background-size: 26px 26px;
  -moz-background-size: 26px 26px;
  background-size: 26px 26px;
}
.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}
.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}
.leaflet-control-layers label {
  display: block;
}
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255,255,255,0.7);
  margin: 0;
}
.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
}
.leaflet-control-attribution a {
  text-decoration: none;
}
.leaflet-control-attribution a:hover {
  text-decoration: underline;
}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
}
.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}
.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255,255,255,0.5);
}
.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0,0,0,0.2);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.leaflet-popup {
  position: absolute;
  text-align: center;
}
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}
.leaflet-popup-content p {
  margin: 18px 0;
}
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #fff;
  -webkit-box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}
.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}
.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}
.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}
body {
  font-family: 'Open sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body,
#root,
.app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #d3d3d3;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: color 200ms ease-in-out, opacity 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out, opacity 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out, opacity 200ms ease-in-out;
  -ms-transition: color 200ms ease-in-out, opacity 200ms ease-in-out;
  transition: color 200ms ease-in-out, opacity 200ms ease-in-out;
}
a:hover {
  color: #8cece3;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
a.active,
a:active {
  color: #d3d3d3;
}
.main-map,
.main-map > div {
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: -webkit-transform 200ms ease;
  -moz-transition: -moz-transform 200ms ease;
  -o-transition: -o-transform 200ms ease;
  -ms-transition: -ms-transform 200ms ease;
  transition: transform 200ms ease;
  padding: 0;
  background: #242426;
}
.main-map *,
.main-map > div * {
  cursor: default !important;
}
.has-country .main-map,
.has-country .main-map > div {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -o-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
}
.main-map .leaflet-container,
.main-map > div .leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
}
.main-map path.country-borders,
.main-map > div path.country-borders,
.main-map path.iss-marker,
.main-map > div path.iss-marker,
.main-map path.picture-position,
.main-map > div path.picture-position {
  stroke-width: 1px;
  stroke-opacity: 0.9;
  fill-opacity: 0.1;
}
.main-map path.country-borders,
.main-map > div path.country-borders {
  pointer-events: none;
}
.main-map path.country-borders,
.main-map > div path.country-borders,
.main-map path.picture-position,
.main-map > div path.picture-position {
  -webkit-transition: fill 200ms ease-in-out, stroke 200ms ease-in-out;
  -moz-transition: fill 200ms ease-in-out, stroke 200ms ease-in-out;
  -o-transition: fill 200ms ease-in-out, stroke 200ms ease-in-out;
  -ms-transition: fill 200ms ease-in-out, stroke 200ms ease-in-out;
  transition: fill 200ms ease-in-out, stroke 200ms ease-in-out;
}
.main-map path.picture-position,
.main-map > div path.picture-position {
  cursor: pointer !important;
}
.main-map path.picture-position:hover,
.main-map > div path.picture-position:hover {
  fill: #fff !important;
  stroke: #fff !important;
}
.main-map .leaflet-popup-content-wrapper,
.main-map > div .leaflet-popup-content-wrapper {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.main-map .leaflet-popup-content,
.main-map > div .leaflet-popup-content {
  margin: 3px 3px 0;
}
.main-map .leaflet-container a.leaflet-popup-close-button:hover,
.main-map > div .leaflet-container a.leaflet-popup-close-button:hover {
  color: #fff;
  cursor: pointer !important;
  z-index: 10;
}
.main-map .leaflet-popup-tip,
.main-map > div .leaflet-popup-tip {
  width: 10px;
  height: 10px;
}
.main-map .leaflet-popup-content-wrapper,
.main-map > div .leaflet-popup-content-wrapper {
  background: #242426;
}
.main-map path.iss-marker,
.main-map > div path.iss-marker {
  fill: #ebebeb;
  stroke: #ebebeb;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 100;
  -webkit-animation: marker 0.5s ease-in-out infinite alternate;
  -moz-animation: marker 0.5s ease-in-out infinite alternate;
  -o-animation: marker 0.5s ease-in-out infinite alternate;
  -ms-animation: marker 0.5s ease-in-out infinite alternate;
  animation: marker 0.5s ease-in-out infinite alternate;
}
@-moz-keyframes marker {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-webkit-keyframes marker {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-o-keyframes marker {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes marker {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.main-sidebar {
  z-index: 3;
  font-size: 12px;
  width: 400px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  top: 0;
  left: -400px;
  background: #242426;
  color: #ebebeb;
  -webkit-transition: left 200ms ease;
  -moz-transition: left 200ms ease;
  -o-transition: left 200ms ease;
  -ms-transition: left 200ms ease;
  transition: left 200ms ease;
  border-right: 1px solid rgba(0,0,0,0.1);
}
.has-country .main-sidebar {
  left: 0;
}
.main-sidebar .country-name,
.main-sidebar .country-informations-title,
.main-sidebar .news-list-title,
.main-sidebar .country-pictures-title {
  text-transform: uppercase;
}
.main-sidebar .country-name {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 22px;
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 60px;
}
.main-sidebar .country-name .flag,
.main-sidebar .country-name .main-name,
.main-sidebar .country-name .native-name {
  max-width: 300px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-sidebar .country-name .flag {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 50px;
  max-height: 30px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.main-sidebar .country-name .main-name {
  padding: 3px 0 0;
  letter-spacing: 0.08em;
}
.main-sidebar .country-name .native-name {
  color: #808080;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  font-family: Arial;
  padding: 9px 0 5px;
  letter-spacing: 0.05em;
}
.main-sidebar .country-informations-title,
.main-sidebar .news-list-title,
.main-sidebar .country-pictures-title {
  width: 100%;
  float: left;
  font-weight: 300;
  font-size: 14px;
}
.main-sidebar .country-information-list,
.main-sidebar .country-information-list-element {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
}
.main-sidebar .country-information-list label,
.main-sidebar .country-information-list-element label {
  font-weight: 900;
}
.main-sidebar .country-information-list label,
.main-sidebar .country-information-list-element label,
.main-sidebar .country-information-list .value,
.main-sidebar .country-information-list-element .value {
  width: 50%;
  padding-bottom: 10px;
  float: left;
}
.main-sidebar .country-information-list-element .example-text {
  color: #797980;
}
.main-sidebar .country-pictures {
  width: 100%;
  height: 86px;
  margin-bottom: 10px;
  overflow: hidden;
  float: left;
}
.main-sidebar .country-pictures .pictures-wrapper {
  width: auto;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  -moz-transition: -moz-transform 200ms ease-in-out;
  -o-transition: -o-transform 200ms ease-in-out;
  -ms-transition: -ms-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
}
.main-sidebar .country-pictures .picture {
  width: 86px;
  height: 86px;
  display: inline-block;
  margin: 0 5px 5px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.main-sidebar .pictures-gallery {
  width: 100%;
  float: left;
}
.main-sidebar .pictures-gallery .controls {
  float: right;
  width: auto;
}
.main-sidebar .pictures-gallery .controls a {
  font-size: 20px;
  cursor: pointer;
  padding: 0 5px;
}
.main-sidebar .pictures-gallery .controls a.disabled {
  color: #797980;
  cursor: default;
}
.main-sidebar .pictures-gallery .no-pictures-placeholder {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: left;
  padding: 5px 10px;
  background: #39393c;
  margin-bottom: 20px;
}
.main-sidebar .news-list {
  width: 100%;
  float: left;
  position: relative;
}
.main-sidebar .news-list ul,
.main-sidebar .news-list li {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-sidebar .news-list ul {
  height: 220px;
  overflow: scroll;
}
.main-sidebar .news-list .title {
  margin: 0;
}
.main-sidebar .news-list .author,
.main-sidebar .news-list .domain {
  font-weight: 300;
  font-size: 12px;
  color: #797980;
}
.main-sidebar .news-list .author {
  margin-left: 7px;
  text-transform: uppercase;
}
.main-sidebar .news-list .kwic {
  margin: 2px 0 0;
}
.main-sidebar .news-list li {
  margin-bottom: 20px;
}
.main-sidebar .news-list .gradient-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 100%;
  height: 220px;
  -webkit-box-shadow: inset 0 -20px 20px -10px #242426;
  box-shadow: inset 0 -20px 20px -10px #242426;
}
.slideshow {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  padding-left: 420px;
  background: #242426;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.slideshow .slideshow-content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slideshow .loading-icon,
.slideshow .loading-placeholder,
.slideshow .slideshow-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-filter: blur(0);
  -webkit-transition: opacity 200ms ease-in-out, -webkit-filter 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out, -webkit-filter 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out, -webkit-filter 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out, -webkit-filter 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, -webkit-filter 200ms ease-in-out;
}
.slideshow .loading-icon {
  background-image: url("http://jxnblk.com/loading/loading-bubbles.svg");
}
.slideshow .loading-placeholder,
.slideshow .slideshow-content {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -webkit-filter: blur(10px);
}
.slideshow.loaded .loading-placeholder,
.slideshow.loaded .slideshow-content {
  -webkit-filter: blur(0);
}
.slideshow.loaded .loading-placeholder {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.slideshow.loaded .slideshow-content {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.slideshow .loading-placeholder {
  z-index: 1;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.slideshow .loading-icon {
  z-index: 2;
}
.slideshow .slideshow-content {
  z-index: 3;
}
.slideshow .close-button {
  position: absolute;
  z-index: 4;
  top: -20px;
  right: -20px;
  font-size: 28px;
  background: #242426;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ebebeb;
  padding: 10px 20px;
  cursor: pointer;
}
